/result
/result-*
TAGS
*.o
*.ghcid.out
*.aux
*.hi
.stack-work
*~
\#*
.vscode/phoityne.log
/*.log
/.idea/
*.iml
/dist/
/dist-newstyle/
/dist-newstyle-*/
/out/
*.hie
*.dump-hi
not-in-git.*
*.beam
*.tix
/*.hp
/*.prof
/generated-reports/memleak-test-report/unliftio-pool-memleak-test.hp
/generated-reports/memleak-test-report/unliftio-messagebox-memleak-test.hp
